---
layout: default
---

<!-- Book Club page header -->
<header class="masthead" style="background-color: #4a1f6a;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    <h2 class="subheading">{{ page.author }}{% if page.year %} &middot; {{ page.year }}{% endif %}</h2>
                    {% if page.date %}
                    <span class="meta">Book Club &middot; {{ page.date | date: "%B %Y" }}</span>
                    {% else %}
                    <span class="meta">Book Club</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ content }}
            </div>
        </div>
    </div>
</article>
